.movies {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.movies__section {
  padding: 0 70px;
}

.movies__content-text {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 320px;
  margin: auto;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .movies__section {
    padding: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .movies__section {
    padding: 0 10px;
  }
}
