.App {
  margin: auto;
  max-width: 1280px;
  min-width: 320px;
  height: 100vh;
  align-content: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
